<table class="table">
  <thead>
    <tr>
      <th>Generado</th>
      <th>Referencia</th>
      <th>Log</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.picap_id ? 'SI' : 'NO' %></td>
        <td><%= booking.reference %></td>
        <td><%= booking.log.truncate(150, omission: '... (continued)') %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
